
<div class="input-group">
    <input type="text" 
           class="form-control" 
           placeholder="输入物料名称查询" 
           @bind-value="inventoryNameToSearch" />
    <button type="button" 
            class="btn-success input-group-text"
            @onclick="OnSearch">查询</button>
</div>

@code {
    private string inventoryNameToSearch = string.Empty;
    [Parameter]
    public EventCallback<string> OnSearchInventory { get; set; }

    private void OnSearch()
    {
        OnSearchInventory.InvokeAsync(inventoryNameToSearch); //This passes the data back to the parent component
    }
}
